<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <Navbar></Navbar>
                <main id="app">
                    <div class="d-flex justify-content-center align-items-center flex-column vh-100">
                        <h1 class="mb-3"><span class="text-danger">Error 404: </span>No pudimos encontrar esa página</h1>
                        <h2 class="f-size-3 mb-5"><i class="far fa-frown"></i></h2>
                        <a href="/" class="btn btn-primary">Ir al inicio</a>
                    </div>
                </main>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
